@import "fonts";
@import "mq";
@import "palette";
//@import "embed";

.interactive-atom {
    margin: 0;
    padding: 0;
}

$primary: #FB4F3E;
$highlight: #65C3D7;
$background: #a7eede;
$demographic: #E4185D;


.interactive-wrapper {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    [data-key="residents-of-aged-care-or-disability-care"] {
    	display: none;
    }

    [data-key="work-in-healthcare"]{
    	display: none;
    }

    [data-key="underlying-medical-conditions"]{
    	display: none;
    }

    #app {
        background-color: $background;

        h2 {
            text-align: center;
        }

        .section-01, .section-02, .section-03, .section-04 {
            color: $primary;
        }

        .section-05 {
            color: $demographic;
        }


        .intro_box {
            font-family: "Guardian Egyptian Web", Georgia, serif;
            font-weight: 300;
            position: relative;
            font-size: 20px;
            line-height: 26px;
            margin: 0 auto;

            @include mq($until: tablet) {
                width: 90%;
            }  

            @include mq($from: tablet) {
                width: 90%;
                max-width: 700px;
                padding-top: 20px;
                padding-bottom: 20px;
                vertical-align: middle;
                display: table;
            }   

            span {
                color: $primary;
                cursor: pointer;
            }

              .orange {
                color:#121212;
                border-bottom: 2px solid #ff8c00;
            }

            .blue {
                color:#121212;
                border-bottom: 2px solid #0099db;
            }

        }

        .standfirst_box {
            font-family: "Guardian Egyptian Web", Georgia, serif;
            font-weight: 300;
            position: relative;
            font-size: 20px;
            line-height: 26px;
            margin: 0 auto;
            text-align: center;

            @include mq($until: tablet) {
                width: 90%;
            }  

            @include mq($from: tablet) {
                width: 90%;
                max-width: 700px;
                padding-top: 20px;
                padding-bottom: 20px;
                vertical-align: middle;
                display: table;
            }   

        }

        .question_block {
        	box-sizing: border-box;
        	padding: 10px;
        }


        .question_block_container {

            font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
            font-weight: 300;

            @include mq($until: mobile) {

            }   

            @include mq($from: mobile, $until: mobileLandscape) {

            }

            @include mq($from: mobileLandscape, $until: tablet) {

            }

            @include mq($from: tablet, $until: desktop) {

            }

            @include mq($from: desktop, $until: wide) {

            }

            @include mq($from: wide) {

            }

            h3 {
                font-size: 22px;
                line-height: 26px;
                font-family: "Guardian Egyptian Web", Georgia, serif;
                font-weight: 300;

            }

            .question_box {
                font-family: "Guardian Egyptian Web", Georgia, serif;
                font-weight: 300;
                position: relative;
                margin: 0 auto;

                @include mq($until: tablet) {
                    width: 90%;
                }  

                @include mq($from: tablet) {
                    width: 90%;
                    max-width: 700px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    vertical-align: middle;
                    display: table;
                }   

                h3 {
                    span {
                        color: $primary;
                    }

                    .demos {
                        color: $demographic;
                    }

                }

            }

            .options_box {
                font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
                margin: auto;

                @include mq($until: tablet) {
                    width: 90%;
                }  

                @include mq($from: tablet) {
                    width: 100%;
                    max-width: 600px;
                }

            }

            .option {
                background-color: white;
                text-align: center;
                width: 100%;
                box-sizing: border-box;
                font-size: .9em;
                margin: 0 auto;
                border: 2px solid #ccc;
                border-radius: 50%;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                -khtml-border-radius: 4px;
                margin-bottom: 20px;
                cursor: pointer;

                @include mq($until: tablet) {
                    display: inline-block;
                    min-height: 40px;
                    line-height:  1.1em;
                    padding: 10px;
                }  

                @include mq($from: tablet) {
                    height: 40px;
                    line-height: 35px;
                }


            }

            span {
                color: black;
                font-weight: 400;
            }

            .current {
                background-color: $highlight;
                color: #fff;
                opacity: 1;

                span {
                    color: white;
                }

            }

            .specifics {
                width: 100%;
                margin-top: 10px;
                font-weight: 400;
            }

            .dropdown_container {
                width: 100%;
                max-width: 400px;
                margin: auto;

                select {
                    width: 100%;
                }
            }

        }

        .statements_box {
            width: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            padding: 20px;

            @include mq($until: tablet) {
                
            }  

            @include mq($from: tablet) {
                max-width: 770px;
            }

            .statement_container {

                @include mq($until: tablet) {
                    width: 100%;
                }  

                @include mq($from: tablet) {
                    width: 100%;
                }

            }

            .error {
                width: 100%;
                box-sizing: border-box;
                padding: 20px;
                color: $primary;
                text-align: center;
            }

        }

        .next {
            width: 100px;
            height: 100px;
            background-color: red;
            text-align: center;
            line-height: 100px;
            color: white;
            margin: auto;
            border-radius: 50px;
            cursor: pointer;
        }



    }



    #results {
        width: 100%;
        max-width: 720px;
        margin: auto;
        font-family: "Guardian Egyptian Web", Georgia, serif;
        font-weight: 300;

        .results_block_container {
            width: 100%;
            box-sizing: border-box;
            display: inline-block;
            border-bottom: 1px dotted black;
            padding:20px;
        }

        .results_block {
            width: 100%;
            display: inline-block;
            
            @include mq($until: tablet) {
                margin-bottom: 20px;
            }  
        }

        .results_left {

            @include mq($until: tablet) {
                width: 100%;
                text-align: left;
            }  

            @include mq($from: tablet) {
                width: 150px;
                float: left;
                text-align: right;
                padding: 10px;
            }  

            box-sizing: border-box;
            font-weight: 600;
            line-height: 25px;

            span {
                color: $primary;
            }


        }

        .results_right {

            @include mq($until: tablet) {
                width: 100%;
                margin-bottom: 10px;
            }  

            @include mq($from: tablet) {
                width: calc(100% - 150px);
                float: right;
                padding: 10px;
            }  

            box-sizing: border-box;
            font-size: 19px;
            line-height: 21px;
        }

        .agreement_chart_container {
            width: 100%;
            display: inline-block;
        }

        .totality {
            margin-left: 10px;
            float: left;
            line-height: 25px;
            font-size: 14px;
        }

        .chart_block {
            width: 100%;
            font-size: 15px;
            font-weight: 600;
            font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
        }

        .chart_key_container {
            width: 100%;
            display: inline-block;
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        }

        .chart_key_compartment {

            @include mq($until: mobileLandscape) {
                width: 100%;
                display: inline-block;
                margin-bottom: 10px;
            }  

            @include mq($from: mobileLandscape) {
                display: inline-block;
                float: left;
            }  

        }

        .chart_key_label {
            width: 100%;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            margin-bottom: 2px;
            color: black;
            font-family: "Guardian Egyptian Web", Georgia, serif;
        }

        .legend { 
            list-style: none;
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
            font-size: 12px;
            font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
            font-weight: 300;
            color: darkgrey;
        }

        .legend li { float: left; margin-right: 10px; }
        .legend span { float: left; width: 20px; height: 20px; margin-right: 5px; }

        .legend .changed_essential { background-color: darkorange; }
        .legend .unchanged_essential { background-color: orange; }
        .legend .changed_guardian { background-color: #0099db; }
        .legend .unchanged_guardian { background-color: #c5dcea; }



        .chart_container {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 2px;
        }

        .chart_bar_wrapper {
            width: 100%;
            height: 25px;
            clear: both;
        }

        .chart_bar {
            box-sizing: border-box;
            width: 0%;
            height: 25px;
            
            float: left;
            text-align: right;
            font-weight: 600;
            line-height: 25px;
            font-size: 11px;
            padding-right: 5px;
            position: relative;
            color: white;
        }

        .essential {
            background-color: darkorange;
        }

        .guardian {
            background-color: #0099db;
        }

        .change_essential {
            background-color: darkorange;
            color: white;
        }

        .change_guardian {
            background-color: #0099db;
            color: white;
        }

        .unchanged_essential {
            background-color: orange;
            color: black;
        }

        .unchanged_guardian {
            background-color: #c5dcea;
            color: black;
        }

        .chart_label {
            font-size: 16px;
            line-height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 400;
            font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
        
            span{
                font-weight: 600;
            }

        }

        .chart_bar_label {
            box-sizing: border-box;
            width: 0%;
            height: 25px;
            float: left;
            text-align: right;
            font-weight: 400;
            line-height: 12px;
            font-size: 11px;
            position: relative;
        }

        .orange {
            color: #0099db;
            text-align:left;
            margin-right: 20px;
        }

        .red {
            color: black;
        }

        .opinion {
            min-width: 120px;
        }

        .percentage_child {
            color: black;
            float: left;
            text-align: right;
            font-weight: 400;
            line-height: 25px;
            font-size: 12px;
            padding-left: 5px;
        }

    }

    .question {
        font-weight: 600;
    }

    .Submit-button-container {
        margin: auto;
    }

    .Submit-button {
        margin: auto;
        background-color: $primary;;
        width: 120px;
        height: 40px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 20px;
        cursor: pointer;
        color: white;

        div {
            float: left;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: -2px;
        }

    }

    .footnotes {
        width: 100%;
        font-size: 12px;
        line-height: 14px!important;
        margin: 0px;
        padding: 0px;
        padding-bottom: 20px;
    }

    .asterix {
        font-weight: 300;
    }

}


.l-footer {
    display: none;
}

@include mq($until: mobile) {

}	

@include mq($from: mobile, $until: mobileLandscape) {

}

@include mq($from: mobileLandscape, $until: tablet) {

}

@include mq($from: tablet, $until: desktop) {

}

@include mq($from: desktop, $until: wide) {

}

@include mq($from: wide) {

}